<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Mise à jour</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  
  <link href="assets/img/logo_ARISTARC.png" rel="icon">
  <link href="assets/img/logo_ARISTARC.png" rel="apple-touch-icon">
  
  <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
  
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" >
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" ></script> -->

  

  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" type="text/css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" type="text/css" rel="stylesheet">
  <link href="/assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  
  
  

  
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css" >
  
  
  
  
  
  

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.5.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a th:href="@{/homePage}" class="logo d-flex align-items-center">
        <img src="assets/img/logo_ARISTARC.png" alt="">
        <span class="d-none d-lg-block">ARISTARC</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon -->

        <!-- End Messages Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            
            <span class="d-none d-md-block dropdown-toggle ps-2">M. Toure</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>Mahamoud Toure</h6>
              <span>Web Designer</span>
            </li>
            

            <li>
              <a class="dropdown-item d-flex align-items-center" th:href="@{/loggin}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li>

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

	
	  <li class="nav-heading">Chiffrage Aristarc</li>
      <li class="nav-item">
        <a class="nav-link " th:href="@{/homePage}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-people"></i><span>Gestion des ressources</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/listProfil}">
              <i class="bi bi-circle"></i><span>Liste des profils</span>
            </a>
          </li>
          <li>
            <a th:href="@{/listRess}">
              <i class="bi bi-circle"></i><span>Liste des ressources</span>
            </a>
          </li>
          
        </ul>
      </li><!-- End Components Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Gestion des projets</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/listProj}">
              <i class="bi bi-circle"></i><span>Liste des projets</span>
            </a>
          </li>
          <li>
            <a th:href="@{/listOffres}">
              <i class="bi bi-circle"></i><span>Liste des offres</span>
            </a>
          </li>
          <li>
            <a th:href="@{/listTypeProj}">
              <i class="bi bi-circle"></i><span>Liste des types de projet</span>
            </a>
          </li>
          <li>
            <a th:href="@{/listTypeAct}">
              <i class="bi bi-circle"></i><span>Liste des types d'activite</span>
            </a>
          </li>
          <li>
            <a th:href="@{/listClients}">
              <i class="bi bi-circle"></i><span>Liste des clients</span>
            </a>
          </li>
        </ul>
      </li><!-- End Forms Nav -->

      

      

      <!-- End Blank Page Nav -->
      
      <li class="nav-heading">ADMINISTRATION</li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-person-check"></i><span>Gestion des utilisateurs</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/listUsers}">
              <i class="bi bi-circle"></i><span>Liste des users</span>
            </a>
          </li>
          <li>
            <a th:href="@{/listRoles}">
              <i class="bi bi-circle"></i><span>Liste des roles</span>
            </a>
          </li>
          <li>
            <a th:href="@{/listTypeProj}">
              <i class="bi bi-circle"></i><span>Liste des actions</span>
            </a>
          </li>
          
        </ul>
      </li><!-- End Forms Nav -->
      
      
      <li class="nav-heading">Paramétrage</li>

      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/listObjectifs}">
          <i class="bi bi-gear"></i>
          <span>Objectif annuel</span>
        </a>
      </li><!-- End Profile Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <!-- <div class="pagetitle">
      <h1>MISE A JOUR DU PROJET</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/listProj}">Home</a></li>
          <li class="breadcrumb-item active">Projet</li>

        </ol>
      </nav>
    </div> --><!-- End Page Title -->

    <section class="section">
		<div class="row ">
        <div class="col-12">
        <div class="card">
            <div class="card-header">
            <h4 class="card-title">EDITEZ LA FICHE PROJET</h4>
            </div>
            <div class="card-content">
            <div class="card-body">
                <form class="form form-horizontal" action="#" th:action="@{/saveFP}" th:object="${ficheProjet}"
            method="post">
                <div class="form-body">
                    <div class="row">
                    <!-- <div class="col-md-4">
                        <label>PROJET ID</label>
                    </div>
                    <div class="col-md-8 form-group">
                        <input type="number" th:field="*{id}" readonly="readonly" class="form-control"  placeholder="Profil Id">
                    </div> -->
                    <!-- <div class="col-md-4">
                        <label>Numero</label>
                    </div>
                    <div class="col-md-8 form-group">
                        <input type="text" readonly="readonly" th:field="*{numProjet}" class="form-control"  placeholder="Nom">
                    </div> -->
                    
                    <input type="hidden" th:field="*{id}" readonly="readonly" class="form-control"  placeholder="Profil Id">
                    <div class="col-md-4">
                        <label>Etat du projet</label>
                    </div>
                    <div class="col-md-8 form-group">
                    	<select name="etatProjet" >
										    <option th:each="etatProjet : ${T(com.chiffrageTest.entities.EtatProjet).values()}" 
										        th:value="${etatProjet}" th:text="${etatProjet}"></option>
										</select>
                    	
                        
                    </div>
                    
                    <div class="col-md-4">
                        <label>Nom du projet</label>
                    </div>
                    <div class="col-md-8 form-group">
                        <input type="text" th:field="*{nomProjet}"  class="form-control"  placeholder="Nom">
                    </div>
                    <div class="col-md-4">
                        <label>Nom du client</label>
                    </div>
                    <div class="col-md-8 form-group">
                    	<select th:field="*{client}">
                        <option value="">Select...</option>
                        <option th:each="type : ${client}" th:value="${type.id}" th:utext="${type.nomClient}"/>
                    	</select>
                    	
                        
                    </div>
                    <div class="col-md-4">
                        <label>Objet du projet</label>
                    </div>
                    <div class="col-md-8 form-group">
                    	<textarea class="form-control" th:field="*{description}" rows="3"></textarea>
                        
                    </div>
                    
                    
                    <div class="col-md-4">
                        <label>Cout global</label>
                    </div>
                    <div class="col-md-8 form-group">
                        <input type="number" th:field="*{coutGlobal}"  class="form-control"  placeholder="Cout">
                    </div>
                    <div class="col-md-4">
                        <label>Description Synthetique</label>
                    </div>
                    <div class="col-md-8 form-group">
                    	<textarea class="form-control" th:field="*{descSynthetique}" rows="3"></textarea>
                        
                    </div>
                    <div class="col-md-4">
                        <label>Les ressources du projet</label>
                    </div>
                    <div class="col-md-8 form-group">
                    	<select class="form-control" th:field="*{ressources}" multiple="multiple" >
                        <option th:each="ress: ${listRessource}"
                        		th:selected="${ficheProjet.ressources.contains(ress)}"
                        		th:value="${ress.id}" th:text="${ress.prenom}"></option>
                        
                        
                        <option th:each="ress : ${ressources}" th:value="${ress.id}" th:utext="${ress.prenom}"/>
                    	</select>
                    	
                    	<!-- <label class="col-4 col-form-label">Action: </label> -->
									<!-- <div class="col-8">
										<th:block th:each="action: ${listRessource}">
										<input type="checkbox" th:field="*{ressources}"
											th:text="${action.prenom}" th:value="${action.id}" class="m-2" />
										</th:block>
									</div> -->
                        
                    </div>
                    <div class="col-md-4">
                        <label>Date de debut previsionnelle</label>
                    </div>
                    <div class="col-md-8 form-group">
                        <input type="date" th:field="*{dateDebutPrev}"  class="form-control"  placeholder="Date debut prev">
                    </div>
                    <div class="col-md-4">
                        <label>Date de fin previsionnelle</label>
                    </div>
                    <div class="col-md-8 form-group">
                        <input type="date" th:field="*{dateFinPrev}"  class="form-control"  placeholder="Date fin prev">
                    </div>
                    <div class="col-md-4">
                        <label>Date de debut effective</label>
                    </div>
                    <div class="col-md-8 form-group">
                        <input type="date" th:field="*{dateDebutEffective}"  class="form-control"  placeholder="Date debut eff">
                    </div>
                    <div class="col-md-4">
                        <label>Date de fin effective</label>
                    </div>
                    <div class="col-md-8 form-group">
                        <input type="date" th:field="*{dateFinEffective}"  class="form-control"  placeholder="Date fin eff">
                    </div>
                    
                    <div class="col-md-4">
                        <label>Type de projet</label>
                    </div>
                    <div class="col-md-8 form-group">
                    	<select th:field="*{typeProjet}">
                        <option value="">Select...</option>
                        <option th:each="type : ${typeProjet}" th:value="${type.id}" th:utext="${type.nom}"/>
                    	</select>
                    	
                        
                    </div>
                    
                    
                    
                    
                    
                     &nbsp;&nbsp;&nbsp;
                    <div class="col-12 d-flex justify-content-end">
                    <a th:href="@{/listProj}">
                    
                    <button type="button" class="btn btn-secondary">Annuler</button>
                	</a>
                    <button type="submit" class="btn btn-primary me-1 mb-1">Sauvegarder</button>
                    
                    
                        <!-- <button type="submit" class="btn btn-primary mr-1 mb-1">Submit</button>
                        <button type="reset" class="btn btn-light-secondary mr-1 mb-1">Reset</button> -->
                    
                    </div>
                    </div>
                </div>
                </form>
            </div>
            </div>
        </div>
        </div>
        
    </div>
		
		
		</section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>ARISTARC</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
  
  					
  
	
   

  
  
  <script type="text/javascript" th:src="@{/assets/js/main.js}"></script>	
 <script type="text/javascript" th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
 <script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
<!--  <script th:src="@{assets/vendor/apexcharts/apexcharts.min.js}"></script>
  <script th:src="@{assets/vendor/chart.js/chart.umd.js}"></script>
  <script th:src="@{assets/vendor/echarts/echarts.min.js}"></script>
  
  <script th:src="@{assets/vendor/simple-datatables/simple-datatables.js}"></script>
  <script th:src="@{assets/vendor/tinymce/tinymce.min.js}"></script>
  <script th:src="@{assets/vendor/php-email-form/validate.js}"></script> -->

  <!-- Template Main JS File -->
  
   
 
</body>

</html>