<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/dashboard}">
<head>
    
    <title>Chiffrage Aristarc</title>
   
</head>
<body>
    
<div class="main-content container-fluid" layout:fragment="content">


	
	
	

	
	
	
	
	
	
	<section id="basic-horizontal-layouts">
    <div class="row match-height">
        <div class="col-12">
        <div class="card">
            <div class="card-header">
            <h4 class="card-title">EDITER LA CHARGE</h4>
            </div>
            <div class="card-content">
            <div class="card-body">
                <form class="form form-horizontal" action="#" th:action="@{/saveDepense}" th:object="${depense}"
            method="post">
                <div class="form-body">
                    <div class="row">
                    <div class="col-md-4">
                        <label>ID DEPENSE</label>
                    </div>
                    <div class="col-md-8 form-group">
                        <input type="text" th:field="*{id}" readonly="readonly" class="form-control"  placeholder="Id">
                    </div>
                    <div class="col-md-4">
                        <label>Libelle</label>
                    </div>
                    <div class="col-md-8 form-group">
                        <input type="text" th:field="*{libelle}" class="form-control"  placeholder="">
                    </div>
                    <div class="col-md-4">
                        <label>Montant</label>
                    </div>
                    <div class="col-md-8 form-group">
                        <input type="number" th:field="*{montant}"  class="form-control"  placeholder="">
                    </div>
                    <div class="col-md-4">
                        <label>Projet</label>
                    </div>
                    <div class="col-md-8 form-group">
                    	<select th:field="*{ficheProjet}">
                        <option value="">Select...</option>
                        <option th:each="type : ${ficheProjet}" th:value="${type.id}" th:utext="${type.nomProjet}"/>
                    	</select>
                    	
                        
                    </div>
                    
                    
                    
                    
                    <div class="col-12 d-flex justify-content-end">
                    <a th:href="@{'/newAct/' + ${fpp.id}}" >
                    <button type="button">Cancel</button>
                	</a>
                    <button type="submit">Save</button>
                    
                    
                        <!-- <button type="submit" class="btn btn-primary mr-1 mb-1">Submit</button>
                        <button type="reset" class="btn btn-light-secondary mr-1 mb-1">Reset</button> -->
                    
                    </div>
                    </div>
                </div>
                </form>
            </div>
            </div>
        </div>
        </div>
        
    </div>
    </section>
	
   
   
</div>

            
</body>
</html>
