<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/dashboard}">
<head>
    
    <title>Chiffrage Aristarc</title>
    <link rel="shortcut icon" href="assets/images/logo_ARISTARC.png" type="image/x-icon">
    
   
</head>
<body>
    
<div class="main-content container-fluid" layout:fragment="content"> 

	<div class="box-footer center">
                        <a th:href="@{/newDepense}">
                            <button type="button" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Add new</button>
                        </a>
                        
                    </div>
   
   
   <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4 class="card-title">LISTE DES CHARGES FIXES</h4>
                    
                    <form th:action="@{/listDepenses}">
					    Filter: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
					    &nbsp;
					    <input type="submit" value="Search" />
					    &nbsp;
					    <input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
					</form>
					
					<script type="text/javascript">
					    function clearSearch() {
					        window.location = "[[@{/listDepenses}]]";
					    }
					</script>
                </div>
                
                
                <div class="row" id="table-striped-dark">
				  <div class="col-12">
				    <div class="card">
				    
                <!-- <div class="card-body px-0 pb-0"> -->
                    <div class="table-responsive">
                        <table class="table table-striped table-dark mb-0" id="table1">
                            <!-- <thead> -->
                            <tbody>
                            <tr>
                                <th><i class="icon-profile"></i>ID</th>
                                <!-- <th>Active</th> -->
                                <th><i class="icon-profile"></i>Loyer</th>
                                <th><i class="icon-profile"></i>Taxe</th>
                                <th><i class="icon-profile"></i>Impots</th>
                                <th><i class="icon-profile"></i>Electricite</th>
                                <th><i class="icon-profile"></i>Abonnement Internet</th>
                                <th><i class="icon-table"></i>Total dépenses</th>
                                <th><i class="icon-cogs"></i>Actions</th>
                            </tr>
                            <!-- </thead> -->
                            <!-- <tbody> -->
                            <tr th:each="dep : ${depense}" >
				                <td th:text="${dep.id}"> ID</td>
				               
				                <td th:text="${dep.loyer} + ' CFA'">Loyer</td>
				                <td th:text="${dep.taxe} +  '&#37;'">Taxe</td>
				                <td th:text="${dep.impots} + ' CFA'">Impot</td>
				                <td th:text="${dep.electricite} + ' CFA'">Electricite</td>
				                <td th:text="${dep.abonnementInternet} + ' CFA'">Taxe</td>
				                <td><a  href="#" th:href="@{/listDepensess}"
   class="btn btn-primary"><i class="icon_pencil-edit"></i>total</a>
   								</td>
				                
				                
				                <td>
				                    <a href="#" class="btn btn-primary" id="editButton"  th:href="@{'/editDepense/' + ${dep.id}}">Edit</a>
				                    &nbsp;&nbsp;&nbsp;
				                    <a href="#" class="btn btn-danger" id="deleteButton"  th:href="@{'/deleteDepense/' + ${dep.id}}">Delete</a>
				                </td>
				            </tr>
                           <!--  </tbody> -->
                           </tbody>
                        </table>
                    </div>
                <!-- </div> -->
                
                
                </div>
                </div>
                </div>
                
                
                
            </div>
   
   
</div>

            
  
</body>
</html>
