<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/dashboard}">
<head>
   
    <title>Chiffrage Aristarc</title>
    
   
</head>
<body>
    
            
<div class="main-content container-fluid" layout:fragment="content">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Action</h3>
                
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class='breadcrumb-header'>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Privilège</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Nouveau privilège</li>
                    </ol>
                </nav>
            </div>
        </div>

    </div>
    <!-- Basic Horizontal form layout section start -->
    <section id="multiple-column-form">
    <div class="row match-height">
        
        <div class="col-12">
        <div class="card">
            <div class="card-header">
            <h4 class="card-title">ENREGISTRER UN NOUVEAU PRIVILEGE</h4>
            </div>
            <div class="card-content">
            <div class="card-body">
                <form th:action="@{/saveAction}" th:object="${action}"
            method="post" class="form form-horizontal">
                <div class="form-body">
                    <div class="row">
                    
                    	<div class="col-md-4">
                            <label>ID ACTION</label>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group has-icon-left">
                                <div class="position-relative">
                                    <input type="number" readonly="readonly"  th:field="*{id}" class="form-control" placeholder="Id" id="first-name-icon">
                                    <div class="form-control-icon">
                                        <i data-feather="number"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>PRIVILEGE</label>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group has-icon-left">
                                <div class="position-relative">
                                    <input type="text"  th:field="*{actionName}" class="form-control" placeholder="Action" id="first-name-icon">
                                    <div class="form-control-icon">
                                        <i data-feather="user"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                       
                    <div class="col-12 d-flex justify-content-end ">
                        <button type="submit" class="btn btn-primary me-1 mb-1">Submit</button>
                         <a th:href="@{/listActions}">
                        <button type="button" class="btn btn-light-secondary me-1 mb-1">Reset</button>
                        </a>
                    </div>
                    </div>
                </div>
                </form>
            </div>
            </div>
        </div>
        </div>
    </div>
    </section>
    
</div>

            
</body>
</html>
