<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="ISO-8859-1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
	
	


	
</head>
<body>

	
	
	
	
	<script th:src="@{/js/highcharts.js}"></script>
	<script th:src="@{/js/jquery.js}"></script>
	<script th:src="@{/js/index.js}"></script>


</body>
</html>